<!-- Card -->
<div class="card" style="background: {{dark}}">

    <!-- Card body -->
    <div class="card-body">

        <!-- Material form register -->
        <form>
            <p class="h4 text-center py-4" style="color: rgb(17, 139, 99);">Sign up</p>

            <!-- Material input text -->
            <div class="md-form">
                <i class="fa fa-user prefix grey-text" style="font-size: 16px;color: #ec407a !important"></i>
                <input type="text" id="materialFormCardNameEx" class="form-control">
                <label for="materialFormCardNameEx" class="font-weight-light" style="font-size: 13px;">user-name</label>
            </div>

            <!-- Material input email -->
            <div class="md-form">
                <i class="fa fa-envelope prefix grey-text"
                    style="font-size: 16px;color: #ec407a !important;"></i>
                <input type="email" id="materialFormCardEmailEx" class="form-control">
                <label for="materialFormCardEmailEx" class="font-weight-light" style="font-size: 13px;">Email</label>
            </div>

            <!-- Material input email -->
            <div class="md-form">
                <i class="fa fa-exclamation-triangle prefix grey-text"
                    style="font-size: 16px;color: #ec407a !important;"></i>
                <input type="email" id="materialFormCardConfirmEx" class="form-control">
                <label for="materialFormCardConfirmEx" class="font-weight-light" style="font-size: 13px;">Confirm
                    Email</label>
            </div>

            <!-- Material input password -->
            <div class="md-form">
                <i class="fa fa-lock prefix grey-text" style="font-size: 16px;color: #ec407a !important;"></i>
                <input type="password" id="materialFormCardPasswordEx" class="form-control">
                <label for="materialFormCardPasswordEx" class="font-weight-light"
                    style="font-size: 13px;">Password</label>
            </div>
            <div class="container">
            <div class="text-center py-4 mt-3">
                <button class="btn btn-success btn-block" type="submit">Register</button>
            </div>
        </div>
        </form>
        <!-- Material form register -->

    </div>
    <!-- Card body -->

</div>
<!-- Card -->