<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1"></li>
    <li data-target="#carousel-example-2" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view">
        <img class="d-block w-100" src="https://i.pinimg.com/236x/c6/80/b9/c680b9dbe0b07107a99823507c5a49f9.jpg" alt="Second slide"
        style="width: 500px;height: 500px;">     
      </div>
      <div class="carousel-caption">
        <h3 style="color: white;" class="h3-responsive">Supra Brand</h3>
        <p>Young style sport shoes</p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="https://i.pinimg.com/236x/05/43/ba/0543ba35d9b310eb0470351f6ea0b4f8.jpg" alt="First slide" style="width: 500px;height: 500px;">
        <div class="mask rgba-black-light"></div>
        <div class="mask rgba-black-strong"></div>
      </div>
      <div class="carousel-caption">
        <h3 style="color: white;" class="h3-responsive">Nike Brand</h3>
        <p>Trip and Sport</p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="https://i.pinimg.com/236x/10/9b/1d/109b1d45515b61b076f3f830879e1b56.jpg" alt="Third slide"
          style="width: 500px;height: 500px;">
        <div class="mask rgba-black-slight"></div>
      </div>
      <div class="carousel-caption">
        <h3 style="color: white;" class="h3-responsive">Yoga Nike Brand</h3>
        <p>For yoga</p>
      </div>
    </div>
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->

<div class="container"><br><br>
  <div class="row text-center">
    <h5 class="h3-responsive font-weight-bold">OUR SERVICE </h5>
  </div><br>
  <hr style="width: 15%;background-color: rgb(17, 139, 99);margin-bottom: 30px;margin: auto;">
  <br><br>
  <div class="row">

    <!-- Card Wider -->
    <div class="card card-cascade wider col-md-3  col-xs-12-text-center" style="background: {{dark}}">

      <!-- Card image -->
      <div class="view view-cascade overlay text-center">
        <i class="fa fa-tasks"></i>
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Card content -->
      <div class="card-body card-body-cascade text-center">


        <h5 class="h4-responsive font-weight-lighter pb-3">Best Mangement</h5>
        <!-- Text -->
        <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque
          laudantium, totam rem aperiam. </p>
        <!-- Linkedin -->
        <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>
        <!-- Twitter -->
        <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
        <!-- Dribbble -->
        <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>
      </div>

    </div>
    <!-- Card Wider -->

    <!-- Card Wider -->
    <div class="card card-cascade wider col-md-3  col-xs-12-text-center" style="background: {{dark}}">

      <!-- Card image -->
      <div class="view view-cascade overlay text-center">
        <i class="fa fa-store"></i>
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Card content -->
      <div class="card-body card-body-cascade text-center">


        <h5 class="h4-responsive font-weight-lighter pb-3">Online Markiting</h5>
        <!-- Text -->
        <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque
          laudantium, totam rem aperiam. </p>

        <!-- Linkedin -->
        <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>
        <!-- Twitter -->
        <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
        <!-- Dribbble -->
        <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>

      </div>

    </div>
    <!-- Card Wider -->

    <!-- Card Wider -->
    <div class="card card-cascade wider col-md-3  col-xs-12-text-center" style="background: {{dark}}">

      <!-- Card image -->
      <div class="view view-cascade overlay text-center">
        <i class="fa fa-truck"></i>
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Card content -->
      <div class="card-body card-body-cascade text-center">


        <h5 class="h4-responsive font-weight-lighter pb-3">Fast delivery</h5>
        <!-- Text -->
        <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque
          laudantium, totam rem aperiam. </p>

        <!-- Linkedin -->
        <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>
        <!-- Twitter -->
        <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
        <!-- Dribbble -->
        <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>

      </div>

    </div>
    <!-- Card Wider -->
  </div>

</div>
 
<div class="row middle" style="background:{{dark2}} ;margin-top: 30px;">

  <div class="container"><br><br>
    <div class="row">
      <h5 class="h3-responsive font-weight-bold">WHY US ?</h5>
    </div><br>
    <hr style="width: 15%;background-color: rgb(17, 139, 99);margin-bottom: 30px;margin: auto;">
    <br><br><br>
    <div class="row" style="margin-top: 30px;">
      <div class="col-md-6 col-xs-12 text-center" style="margin-bottom: 100px;">
        <img src="../img/revolt-164_6wVEHfI-unsplash.jpg" style="width: 100%;border-radius: 50%;" alt="">
      </div>
      <div class="col-md-6 col-xs-12 text-center">
        <p class="outer"><i class="fa fa-magic"></i> <span class="why font-weight-bold"> Best Brands</span></p>
        <p class="inner">We have The best Brands ever like Nike, Addidas, Suppra,...etc.</p>
        <br>
        <p class="outer"><i class="fa fa-pen"></i> <span class="why font-weight-bold"> Custumer Orders Design</span></p>
        <p class="inner">Dont Care Of any hourble design, Just Give us The details.</p>
        <br>
        <p class="outer"><i class="fa fa-signal"></i> <span class="why font-weight-bold"> Online Support</span></p>
        <p class="inner">We broud of our Online Custumer Support, it's available for 24 hours.</p>
      </div>
    </div>
    <br><br>
  </div>
 
</div>
<div class="container"><br><br>
  <div class="row text-center">
    <h5 class='h3-responsive font-weight-bold'>Popular Brands</h5>
  </div><br>
  <hr style="width: 15%;background-color: rgb(17, 139, 99);margin-bottom: 30px; margin: auto;">
  <br><br>
  <div class="row">
    <!-- Card -->
    <div class="card col-xs-12 col-sm-6 col-md-4 col-lg-3" style="background: {{dark}}" ng-repeat="product in products1">

      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top" style="width: 100%;height: 200px;" src="{{product.img}}" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Card content -->
      <div class="card-body">

        <!-- Title -->
        <h5 class="card-title">{{product.Name}}</h5>
        <!-- Text -->
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        <p style="color: rgb(209, 16, 16);text-decoration: line-through;font-size: 11px;">
          {{product.price|currency}}</p>
      <p style="color:limegreen;"><small> {{product.price|currency}}</small></p>
      <!-- Button -->

        <a href="#" class="pull-right" ng-click="$event.preventDefault();like($index)">
          <span style="color: {{product.myRed}};" uk-icon='heart'></span>
        </a>
        <span style="color: gray;"> <small>{{product.likes}}</small> </span>
      </div>
      <a href="#" class="btn btn-success btn-block" ng-click="$event.preventDefault();numb();showAdvanced($index,$img,$Name,$price)"><small> More info</small> </a>
    </div>
    <!-- Card -->
  </div>
  <br><br>
</div>
<div class="middle">
  <div class="container">
    <div class="row">    
<!-- Section: Team v.1 -->
<section class="team-section text-center my-5">

  <!-- Section heading -->
  <h5 class="h3-responsive font-weight-bold my-5">Our amazing team <br><br>
    <hr style="width: 15%;background-color: rgb(17, 139, 99);margin-bottom: 30px; margin: auto;">
  </h5>
  <!-- Section description -->
  <p class="grey-text w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam
    eum porro a pariatur veniam.</p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Anna Williams</h5>
      <p class="text-uppercase blue-text"><strong>Graphic designer</strong></p>
      <p class="grey-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
        adipisci sed quia non numquam modi tempora eius.</p>
      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a class="p-2 fa-lg fb-ic">
          <i class="fab fa-facebook-f blue-text"> </i>
        </a>
        <!-- Twitter -->
        <a class="p-2 fa-lg tw-ic">
          <i class="fab fa-twitter blue-text"> </i>
        </a>
        <!-- Instagram -->
        <a class="p-2 fa-lg ins-ic">
          <i class="fab fa-instagram blue-text"> </i>
        </a>
      </ul>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">John Doe</h5>
      <p class="text-uppercase blue-text"><strong>Web developer</strong></p>
      <p class="grey-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem ipsa accusantium
        doloremque rem laudantium totam aperiam.</p>
      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a class="p-2 fa-lg fb-ic">
          <i class="fab fa-facebook-f blue-text"> </i>
        </a>
        <!-- Instagram -->
        <a class="p-2 fa-lg ins-ic">
          <i class="fab fa-instagram blue-text"> </i>
        </a>
      </ul>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Maria Smith</h5>
      <p class="text-uppercase blue-text"><strong>Photographer</strong></p>
      <p class="grey-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim est fugiat nulla id eu laborum.</p>
      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a class="p-2 fa-lg fb-ic">
          <i class="fab fa-facebook-f blue-text"> </i>
        </a>
        <!-- Instagram -->
        <a class="p-2 fa-lg ins-ic">
          <i class="fab fa-instagram blue-text"> </i>
        </a>
        <!-- Dribbble -->
        <a class="p-2 fa-lg ins-ic">
          <i class="fab fa-dribbble blue-text"> </i>
        </a>
      </ul>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6">
      <div class="avatar mx-auto">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Tom Adams</h5>
      <p class="text-uppercase blue-text"><strong>Backend developer</strong></p>
      <p class="grey-text">Perspiciatis repellendus ad odit consequuntur, eveniet earum nisi qui consectetur
        totam officia voluptates perferendis voluptatibus aut.</p>
      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a class="p-2 fa-lg fb-ic">
          <i class="fab fa-facebook-f blue-text"> </i>
        </a>
        <!-- Github -->
        <a class="p-2 fa-lg ins-ic">
          <i class="fab fa-github blue-text"> </i>
        </a>
      </ul>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Team v.1 -->
  </div><br><br>
</div>
</div>
<div class="container">
  <h5 class="text-center h3-responsive font-weight-bold">Our Store Gift's</h5>
    </div><br>
    <hr style="width: 15%;background-color: rgb(17, 139, 99);margin-bottom: 30px;margin: auto;">
    <br><br><br>
  </div>
    <div class="container">
  <!-- Jumbotron -->
  <div class="jumbotron text-center" style="margin-top: 30px;margin-bottom: 10px;background: {{dark}};">
    <div class="myJumb">
    <!-- Title -->
    <h5 class="card-title h4" style="color: rgb(17, 139, 99);"><strong>Today Discount !</strong>
    </h5>


    <!-- Card image -->
    <div class="view overlay my-4">
      <img src="../img/revolt-164_6wVEHfI-unsplash.jpg" style="width: 100%;height: 400px;" class="img-fluid" alt="">
      <a href="#">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <h6 style="color: rgb(209, 16, 16);text-decoration: line-through;">{{products1[0].price|currency}}</h6>
    <h5 class="indigo-text h5 " style="color: limegreen !important;">{{products1[0].price|currency}}</h5>

    <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium,
      totam rem aperiam.</p>
    <div><a href="#" class="btn btn-success" ng-click="$event.preventDefault();cart();showAdvanced($ev)"><i
          class="fa fa-shopping-cart"></i> <small>more info</small> </a></div>

    <!-- Linkedin -->
    <a class="fa-lg p-2 m-2 li-ic"><i class="fab fa-linkedin-in"></i></a>
    <!-- Twitter -->
    <a class="fa-lg p-2 m-2 tw-ic"><i class="fab fa-twitter"></i></a>
    <!-- Dribbble -->
    <a class="fa-lg p-2 m-2 fb-ic"><i class="fab fa-facebook-f"></i></a>
  </div>
  </div>
</div>

  <div class="middle" style="background-color: {{dark2}};">
    <div class="container"><br>
      <div class="row text-center">
        <h5 class="h3-responsive font-weight-bold">Categories</h5>
      </div>
        <br>
          <hr style="width: 15%;background-color: rgb(17, 139, 99);margin-bottom: 30px; margin: auto;">
            <br><br>
      <!-- Jumbotron -->
      <div uk-filter="target: .js-filter">

          <ul class="uk-subnav uk-subnav-pill">
              <li uk-filter-control=".tag-white"><a class="h5-responsive font-weight-bold" href="#">White</a></li>
              <li uk-filter-control=".tag-black"><a class="h5-responsive font-weight-bold" href="#">Black</a></li>
              <li uk-filter-control=".tag-blue"><a class="h5-responsive font-weight-bold" href="#">Other</a></li>
          </ul>

          <ul class="js-filter uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-3@m uk-text-center" uk-grid>
              <li class="tag-white">
                  <div class="uk-card"><img src="../img/white sport/1.jpg" alt=""></div>
              </li>
              <li class="tag-blue">
                  <div class="uk-card"><img src="../img/army 2/1.jpg" alt=""></div>
              </li>
              <li class="tag-white">
                  <div class="uk-card"><img src="../img/white sport 2/1.jpg" alt=""></div>
              </li>
              <li class="tag-white">
                  <div class="uk-card"><img src="../img/white sport 3/1.jpg" alt=""></div>
              </li>
              <li class="tag-black">
                  <div class="uk-card"><img src="../img/a/3.jpg" alt=""></div>
              </li>
              <li class="tag-black">
                  <div class="uk-card"><img src="../img/big black 3/1.jpg" alt=""></div>
              </li>
              <li class="tag-blue">
                  <div class="uk-card"><img src="../img/army/1.jpg" alt=""></div>
              </li>
              <li class="tag-black">
                  <div class="uk-card"><img src="../img/big black 4/1.jpg" alt=""></div>
              </li>
              <li class="tag-blue">
                  <div class="uk-card"><img src="../img/red air/1.jpg" alt=""></div>
              </li>
              <li class="tag-white">
                  <div class="uk-card"><img src="../img/white sport 5/1.jpg" alt=""></div>
              </li>
              <li class="tag-blue">
                  <div class="uk-card"><img src="../img/red sport 2/1.jpg" alt=""></div>
              </li>
              <li class="tag-black">
                  <div class="uk-card"><img src="../img/big black 5/1.jpg" alt=""></div>
              </li>
          </ul><br><br>
    </div>
  </div>
</div>
