  <md-dialog class="col-md-6 col-xs-12" aria-label="Mango (Fruit)" style="background-color: {{dark}};width: 100%;border-radius: 0 ;position: center;margin-top:30px">
    <form ng-cloak>
      <md-toolbar  style="background-color: {{dark}};">
        <div class="md-toolbar-tools">
          <h5>{{Name}}</h5>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <i class="fa fa-times" style="color: red;"></i>
          </md-button>
        </div>
      </md-toolbar>

      <md-dialog-content>
            <div class="col-md-12 col-xs-12">
              <div class="uk-position-relative" uk-slideshow="animation: push">

                <ul class="uk-slideshow-items" >
                    <li>
                        <img src="{{img}}" alt="" uk-cover>
                    </li>
                    <li>
                        <img src="{{img2}}" alt="" uk-cover>
                    </li>
                    <li>
                        <img src="{{img3}}" alt="" uk-cover>
                    </li>
                </ul>
            
                <div class="uk-position-bottom-center uk-position-small">
                    <ul class="uk-thumbnav">
                        <li uk-slideshow-item="0"><a href="#"><img src="{{img}}"  style="width: 64px;" alt=""></a></li>
                        <li uk-slideshow-item="1"><a href="#"><img src="{{img2}}" style="width: 64px;" alt=""></a></li>
                        <li uk-slideshow-item="2"><a href="#"><img src="{{img3}}" style="width: 64px;" alt=""></a></li>
                    </ul>
                </div>
            
            </div>
          <div class="row">
            <div class="col-md-6" style="margin-left: 10px;">
            <div class="form-group">
              <h5 style="margin-bottom: 10px;"> Enter Quantity</h5>
              <span><input style="width: 50%;background-color: rgb(218, 218, 218);" placeholder="1,2,3..." type="number" min="0" ng-model="qty" class="form-control"></span>
            </div>
            <div>
              <h5 style="margin-bottom: 10px;"> Product Price :</h5>
              <span style="color: limegreen;"> <small>{{price|currency}}</small></span><br><br>
            </div>
          </div>
          </div>
        </div>

      </md-dialog-content>

      <md-dialog-actions layout="row">
        <span flex></span>
        <div class="container"><br><br><br>
        <button class="btn btn-danger btn-block" ng-click="cancel()">
          Cancel
        </button>
        <div style="height: 5px;"></div>
        <button class="btn btn-success btn-block" ng-click="answer();showAlert($event);send(img,Name,qty,price)">
          <i class="fa fa-shopping-cart"></i> <small> Buy</small>
        </button><br><br><br>
      </div>
      </md-dialog-actions>
    </form>
  </md-dialog>
