<div class="container">
  <div class="row">
    <ul class="col-md-12 nav nav-tabs nav-pills nav-justified" style="padding-bottom: 10px;padding-top: 10px;margin-top: 10px;margin-bottom: 10px;">
      <li class="col-md-4 col-xs-4 text-center {{x=='p1'?'active':''}}" >
        <a class="nav-link" ng-click="x='p1';numb1();$event.preventDefault()" href="#" style="color: rgb(17, 139, 99);">Nike</a>
      </li>
      <li class="col-md-4 col-xs-4 text-center {{x=='p2'?'active':''}}">
        <a class="nav-link" ng-click="x='p2';numb2();$event.preventDefault()" href="#" style="color: rgb(17, 139, 99);">Supra</a>
      </li>
      <li class="col-md-4 col-xs-4 text-center {{x=='p3'?'active':''}}">
        <a class="nav-link" ng-click="x='p3';numb3();$event.preventDefault()" href="#" style="color: rgb(17, 139, 99);">Flip</a>
      </li>
    </ul>
  </div>
  <div class="row" ng-switch="x">
    <!-- Card -->
    <div class="card col-xs-12 col-sm-6 col-md-3" style=";background: {{dark}}" ng-switch-when="p1" ng-repeat="product in products">

      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top" style="width: 100%;height: 150px;" src="{{product.img}}" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Card content -->
      <div class="card-body">

        <!-- Title -->
        <h5 class="card-title">{{product.Name}}</h5>
        <!-- Text -->
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        <p style="color: rgb(209, 16, 16);text-decoration: line-through;font-size: 11px;">
            {{product.price|currency}}</p>
        <p style="color:limegreen;"><small> {{product.price|currency}}</small></p>
        <!-- Button -->

        <a href="#" ng-click="$event.preventDefault();like($index)">
          <span style="color: {{product.myRed}};" uk-icon='heart'></span>
        </a>
        <span style="color: gray;"> <small>{{product.likes}}</small> </span>
      </div>
      <a href="#" class="btn btn-success btn-block" ng-click="$event.preventDefault();showAdvanced($index,$img,$Name,$price);numb1()"> <small>more info</small> </a>
    </div>
    <!-- Card -->
  </div>
  <div class="row" ng-switch="x">
    <!-- Card -->
    <div class="card col-xs-12 col-sm-6 col-md-3" style="background: {{dark}}" ng-switch-when="p2" ng-repeat="product in products2">

      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top" style="width: 100%;height: 150px;" src="{{product.img}}" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Card content -->
      <div class="card-body">

        <!-- Title -->
        <h5 class="card-title">{{product.Name}}</h5>
        <!-- Text -->
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        <p style="color: rgb(209, 16, 16);text-decoration: line-through;font-size: 11px;">
          {{product.price|currency}}</p>
      <p style="color:limegreen;"><small> {{product.price|currency}}</small></p>
      <!-- Button -->

        <a href="#" class="pull-right" ng-click="$event.preventDefault();like2($index);">
        <span style="color: {{product.myRed}};" uk-icon="heart"></span>
        </a>
        <span style="color: gray;"> <small>{{product.likes}}</small> </span>
      </div>
      <a href="#" class="btn btn-success btn-block" ng-click="$event.preventDefault();showAdvanced($index,$img,$Name,$price);numb2()"> <small>more info</small> </a>
    </div>
    <!-- Card -->
  </div>

  <div class="row" ng-switch="x">
    <!-- Card -->
    <div class="card col-xs-12 col-sm-6 col-md-3" style="background: {{dark}}" ng-switch-when="p3" ng-repeat="product in products3">

      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top" style="width: 100%;height: 150px;" src="{{product.img}}" alt="Card image cap">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Card content -->
      <div class="card-body">

        <!-- Title -->
        <h5 class="card-title">{{product.Name}}</h5>
        <!-- Text -->
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        <p style="color: rgb(209, 16, 16);text-decoration: line-through;font-size: 11px;">
          {{product.price|currency}}</p>
      <p style="color:limegreen;"><small> {{product.price|currency}}</small></p>
      <!-- Button -->

        <a href="#" class="pull-right" ng-click="$event.preventDefault();like3($index)">
          <span style="color: {{product.myRed}};" uk-icon='heart'></span>
        </a>
        <span style="color: gray;"> <small>{{product.likes}}</small> </span>
      </div>
      <a href="#" class="btn btn-success btn-block" ng-click="$event.preventDefault();showAdvanced($index,$img,$Name,$price);numb3()"> <small>more info</small> </a>
    </div>
    <!-- Card -->
  </div>

</div>